@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: 'normal';
  src: url('./raleway-v14-latin-regular.woff2') format('woff2'),
    url('./raleway-v14-latin-regular.woff') format('woff');
}

.hello {
  color: red;
  font-family: 'Raleway';
}
